
@{
    ViewBag.Title = "ABOUT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ABOUT</h2>
<p> Project web film </p>
<ol>
    <li>Luu Thy Thy</li>
    <li>Le Vu Anh Kiet</li>
    <li>Nguyen Thanh Ha</li>
</ol>

