
@{
    ViewBag.Title = "GENRE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form>
    <select name="Genre" id="Genre" style="font-size:1vw">
        <option disabled value="Choose your option" selected>Choose your option</option>
        <option value="Action">Action</option>
        <option value="Ecchi">Ecchi</option>
        <option value="210">210</option>
        <option value="School-life">School-life</option>
        
    </select>
</form>


