
@{
    ViewBag.Title = "GENRE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    
</head>
<body>
    <form>
        <select name="Genre" id="Genre" style="font-size:1vw">
            <option disabled value="Choose your option" selected>Choose your option</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value=" Romance"> Romance</option>
            <option value="School-life">School-life</option>

        </select>
    </form>
  
</body>


