
@{
    ViewBag.Title = "WEDFILM.com";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/bg/bg.css" />
</head>
<body>
    <class bg>
        <img src="https://th.bing.com/th/id/R.2becc7c4a6bb572d9ad33dacabe230fa?rik=MdDqV8Yiz4NS4Q&pid=ImgRaw&r=0" />
    </class>
</body>

