
@{
    ViewBag.Title = "menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/cssanh/anh.css" />
</head>
<body>
    <class hinhanh>
        <img src="~/hinhanh/anh/anh1.png" />
        <img src="~/hinhanh/anh/anh2.png" /> 
        <img src="~/hinhanh/anh/anh3.png" />
        <img src="~/hinhanh/anh/anh4.png" /><br />
        <img src="~/hinhanh/anh/anh5.png" />
        <img src="~/hinhanh/anh/anh6.png" />
        <img src="~/hinhanh/anh/anh7.png" />
        <img src="~/hinhanh/anh/anh8.png" /><br />
        <img src="~/hinhanh/anh/anh9.png" />
        <img src="~/hinhanh/anh/anh10.png" />
        <img src="~/hinhanh/anh/anh11.png" />
        <img src="~/hinhanh/anh/anh12.png" />
    </class>
</body>



